@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px; /* Matches navbar height */
}

.app-container {
  min-height: 100vh;
} 
/* Scrollbar style */
::-webkit-scrollbar {
  width: 8px; /* largeur dyal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* track background */
}

::-webkit-scrollbar-thumb {
  background-color: #7fe4f3; /* cyan-400 */
  border-radius: 9999px; /* round scrollbar */
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #06b6d4; /* cyan-500 on hover */
}